{% extends 'base_auth.html.twig' %}

{% block auth_content %}
        <h1 class="text-center text-lg font-bold">Confirmation du compte</h1>

        <div class="flex items-center font-medium mt-8 bg-green-100 border border-black/10 rounded-lg px-8 py-4">
            Votre compte à bien été confirmé. Vous pouvez désormais vous connecter avec vos identifiants.
        </div>

        <div class="flex items-center justify-center mt-8">
            <a href="{{ path('page_login') }}" class="text-red-600 cursor-pointer transition hover:text-red-700 hover:scale-105">
                Vous pouvez vous connecter ici
            </a>
        </div>
{% endblock %}
