{% extends 'base_without_sidebar.html.twig' %}

{% block body %}
    <div class="flex-1 py-10 px-5 sm:px-10">
        {% include 'parts/message-flash.html.twig' %}
        {% block admin %}TODO{% endblock %}
    </div>
{% endblock %}
